html {
    font-family:  Helvetica, Arial, sans-serif;
    font-size: 10px;
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}

p {
    font-size: 14px;
    line-height: 1.45;
}

.headerArea {
    padding: 2rem 0 2rem 2rem;
    color : #fff;
    background-color: blue; 
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #fff;
    padding: 0;
    margin: 0;
}

h1 .title2 {
    font-size: 12px;    
    color: #ffffffcc;
}

.headerArea p.subheader {
    color: #ffffffcc; 
    padding: 0;
    margin: 0.5rem 0 0 0; 
}

.board-container {
    margin: 2rem 0 0 2rem;
    float: left;
}

.controls {
    float: left;
    margin: 0 0 0 4rem;
    padding: 0.5rem 0 0 0;
    max-width: 290px;
}

#description {
    margin: 2rem 0 0 0;
}

#description p {
    padding: 0px;
    margin: 0.7rem 0 0.7rem 0;
    font-size: 12px;
    color: #444;
    line-height: 145%;
}

#notification {
    margin: 2rem 0 0 0;
    font-size: 15px;
    color: #444;
}

#notification.won {
    color: #00a040;
}

#notification.lost {
    color: maroon;
}