html {
    font-family:  Helvetica, Arial, sans-serif;
    font-size: 10px;
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}

p {
    font-size: 15px;
    line-height: 1.45;
}

.headerArea {
    padding: 2rem 0 2rem 2rem;
    color : #fff;
    background-color: blue; 
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    color: #fff;
    padding: 0;
    margin: 0;
}

h1 .title2 {
    font-size: 20px;    
    color: #ffffffcc;
}

.headerArea p.subheader {
    color: #ffffffcc; 
    padding: 0;
    margin: 0.5rem 0 0 0; 
}

.board-container {
    margin: 2rem 0 0 2rem;
    float: left;
}

.controls {
    float: left;
    margin: 0 0 0 4rem;
    padding: 0.5rem 0 0 0;
}