* {
    box-sizing: border-box;
}

:root {
    --font-size: 15px;
    --vk-color: #0077FFe0;
    --vk-title-color: #fff;
    --panel-border: 1px solid #cdcdcd;
    --background-color: #fff;
}

html {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: var(--font-size);
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}

p {
    font-size: var(--font-size);
    line-height: 1.45;
    padding: 0;
    margin: 0.5rem 0;
}

.headerArea {
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    color : var(--vk-title-color);
    background-color: var(--vk-color); 
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(var(--font-size) * 1.2);
    padding: 0;
    margin: 0;
}

#body-panel {
    width: 100%;
}


#toc-panel {
    float: left;
    margin: 0 0 0 0rem;
    padding: 0 0 0 0rem;
    border: none;
    height: 100%;
    width: calc(40% - 4px);
    overflow: auto;
}

#toc {
    cursor: pointer;
}

#edit-panel {  /* vscode-tabs */
    float: left;
    margin: 0;
    padding: 0px;
    width: 60%;
    height: 100%;
    border-left: var(--panel-border);
}

vscode-tab-header {
    border-top: var(--panel-border);
    border-right: var(--panel-border);
}

vscode-tab-header[active] {
    color: #0077e0;
    border-bottom: none;
}

vscode-tab-header > vscode-icon {
    display: inline-block;
    vertical-align: middle;
}

vscode-tab-header > span {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.25rem;
}

vscode-tab-panel {
    width: 100%;
    overflow: hidden;
}

.toolbar {
    height: 29px;
    width: 100%;
    background-color: #f4f4f4;
    color: #fff;
    padding-left: 0.5rem;
}

.toolbar span {
    display: inline-block;
    vertical-align: middle;
    margin-top: 3px;
    color: var(--vk-color); 
}

.toolbar vscode-icon { 
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
    margin-left: 0.2rem;  
    margin-right: 0.2rem;  
}



.toolbar > span:nth-child(2), 
.toolbar > span:nth-child(3) {
    margin-left: 4rem; 
}


#textArea {
    width: 100%;
    resize: none;
    padding: 0.5rem 0 0.5rem 0.5rem;
    border: var(--panel-border);
    overflow: auto;
}

#update-tree-btn, #save-file-btn {
    cursor: pointer;
}

#contents {
    width: 100%;
    padding: 0.5rem;
}

#contentsWrapper {
    width: 100%;
    overflow: auto;
}

.existing-page {
    width: 350px;
    height: 300px;
}